@font-face { 
  font-family: "icons";
  src: url("../fonts/icons.ttf"); 
}
@font-face { 
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome.woff2"); 
}
.loader-sheet {
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 9999;
  pointer-events: none;
  overflow-y: hidden
}

.loader-sheet>.inner {
  color: #fff;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-37%, -37%);
  -ms-transform: translate(-37%, -37%);
  transform: translate(-37%, -37%)
}

#fountainG {
  position: relative;
  width: 234px;
  height: 28px;
  left: -32px;
  margin-top: 35px
}

.fountainG {
  position: absolute;
  top: 0;
  background-color: #000;
  width: 28px;
  height: 28px;
  animation-name: bounce_fountainG;
  -o-animation-name: bounce_fountainG;
  -ms-animation-name: bounce_fountainG;
  -webkit-animation-name: bounce_fountainG;
  -moz-animation-name: bounce_fountainG;
  animation-duration: 1.235s;
  -o-animation-duration: 1.235s;
  -ms-animation-duration: 1.235s;
  -webkit-animation-duration: 1.235s;
  -moz-animation-duration: 1.235s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(0.3);
  -o-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  border-radius: 19px;
  -o-border-radius: 19px;
  -ms-border-radius: 19px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px
}

#fountainG_1 {
  left: 0;
  animation-delay: 0.496s;
  -o-animation-delay: 0.496s;
  -ms-animation-delay: 0.496s;
  -webkit-animation-delay: 0.496s;
  -moz-animation-delay: 0.496s
}

#fountainG_2 {
  left: 29px;
  animation-delay: 0.6125s;
  -o-animation-delay: 0.6125s;
  -ms-animation-delay: 0.6125s;
  -webkit-animation-delay: 0.6125s;
  -moz-animation-delay: 0.6125s
}

#fountainG_3 {
  left: 58px;
  animation-delay: 0.739s;
  -o-animation-delay: 0.739s;
  -ms-animation-delay: 0.739s;
  -webkit-animation-delay: 0.739s;
  -moz-animation-delay: 0.739s
}

#fountainG_4 {
  left: 88px;
  animation-delay: 0.8655s;
  -o-animation-delay: 0.8655s;
  -ms-animation-delay: 0.8655s;
  -webkit-animation-delay: 0.8655s;
  -moz-animation-delay: 0.8655s
}

#fountainG_5 {
  left: 117px;
  animation-delay: 0.992s;
  -o-animation-delay: 0.992s;
  -ms-animation-delay: 0.992s;
  -webkit-animation-delay: 0.992s;
  -moz-animation-delay: 0.992s
}

#fountainG_6 {
  left: 146px;
  animation-delay: 1.1085s;
  -o-animation-delay: 1.1085s;
  -ms-animation-delay: 1.1085s;
  -webkit-animation-delay: 1.1085s;
  -moz-animation-delay: 1.1085s
}

#fountainG_7 {
  left: 175px;
  animation-delay: 1.235s;
  -o-animation-delay: 1.235s;
  -ms-animation-delay: 1.235s;
  -webkit-animation-delay: 1.235s;
  -moz-animation-delay: 1.235s
}

#fountainG_8 {
  left: 205px;
  animation-delay: 1.3615s;
  -o-animation-delay: 1.3615s;
  -ms-animation-delay: 1.3615s;
  -webkit-animation-delay: 1.3615s;
  -moz-animation-delay: 1.3615s
}

@keyframes bounce_fountainG {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #000
  }
  100% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    background-color: #fff
  }
}

@-webkit-keyframes bounce_fountainG {
  0% {
    -webkit-transform: scale(1);
    background-color: #000
  }
  100% {
    -webkit-transform: scale(0.3);
    background-color: #fff
  }
}

.loading-spinner-container {
  padding: 43px 0;
  text-align: center;
  background-color: #e4e4e4;
  position: relative
}

@-webkit-keyframes rotateSpinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.loading-spinner-container span {
  background-image: url("/assets/core/static_loader-1a9dee92b51166340c2985e3db3df69cdc5dbd0b01b38c40ddc1a80e9c6f058a.png");
  height: 24px;
  width: 24px;
  -webkit-animation: rotateSpinner 1.2s linear infinite;
  display: inline-block;
  vertical-align: middle
}

header.nav-header.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important
}

header.nav-header.container-fluid>div {
  padding-left: 0 !important
}

header.nav-header {
  color: #fff;
  min-height: 41px;
  position: relative
}

header.nav-header .header-row {
  background: #595858;
  border-bottom: 1px solid #595858;
  position: fixed;
  z-index: 11
}

header.nav-header .logo-container {
  padding: 8px 10px 0;
  cursor: pointer
}

header.nav-header .right-top-navigation-container .user-container .dropdown {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  margin-right: -4px;
  cursor: pointer
}

header.nav-header .right-top-navigation-container .user-container .dropdown:before {
  content: '';
  height: 70%;
  width: 1px;
  position: absolute;
  left: 0;
  top: 8px;
  background-color: #666
}

header.nav-header .right-top-navigation-container .user-container .dropdown.toggle-status-available a.icon-anchor {
  color: #46a546
}

header.nav-header .right-top-navigation-container .user-container .dropdown.toggle-status-donotdisturb a.icon-anchor {
  color: #d62126
}

header.nav-header .right-top-navigation-container .user-container .dropdown.toggle-status-away a.icon-anchor {
  color: #f89406
}

header.nav-header .right-top-navigation-container .user-container .dropdown.toggle-status-invisible a.icon-anchor {
  color: #ffffff
}

header.nav-header .right-top-navigation-container .user-container .dropdown:hover {
  background: #3f3f3f
}

header.nav-header .right-top-navigation-container .user-container .dropdown i {
  font-weight: 900
}

header.nav-header .right-top-navigation-container .user-container a.dropdown-toggle {
  line-height: 41px;
  height: 41px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  width: 45px
}

header.nav-header .right-top-navigation-container .user-container a.dropdown-toggle.user-profile-link {
  width: auto;
  padding-left: 15px;
  padding-right: 15px
}

header.nav-header .right-top-navigation-container .user-container a.dropdown-toggle.user-profile-link img {
  width: 26px;
  height: 26px;
  max-width: none;
  border-radius: 2px
}

header.nav-header .right-top-navigation-container a.dropdown-toggle:hover {
  color: #fff;
  text-decoration: none
}

header.nav-header .right-top-navigation-container .dropdown .fa.fa-plus.fa-stack-1x {
  font-size: 12px
}

header.nav-header .right-top-navigation-container .dropdown .fa.fa-circle-o.fa-stack-1x {
  font-size: 25px
}

header.nav-header .right-top-navigation-container .dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  margin: 1px 0 2px 0;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 250px;
  white-space: nowrap;
  padding: 0
}

header.nav-header .right-top-navigation-container .dropdown .dropdown-menu .name-container {
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  width: 100%
}

header.nav-header .right-top-navigation-container .dropdown .dropdown-menu .name-container .name {
  font-weight: bold;
  margin: -4px 0 1px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #595858
}

header.nav-header .right-top-navigation-container .dropdown .dropdown-menu .name-container .email {
  color: #595858;
  text-overflow: ellipsis;
  overflow: hidden
}

header.nav-header .right-top-navigation-container .dropdown .dropdown-menu .actions-container {
  background: #e4e4e4;
  border-top: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 4px 0;
  width: 100%;
  display: table
}

header.nav-header .right-top-navigation-container .dropdown .dropdown-menu .actions-container .sign-out-container {
  display: table-cell;
  text-align: right
}

header.nav-header .right-top-navigation-container .dropdown .dropdown-menu .actions-container .sign-out-container a {
  background: #f8f8f8;
  border: 1px solid #c6c6c6;
  display: inline-block;
  line-height: 28px;
  padding: 0 12px;
  border-radius: 2px;
  color: #595858;
  text-decoration: none;
  margin: 0 8px;
  white-space: nowrap;
  -webkit-transition: color 0.3s;
  transition: color 0.3s
}

header.nav-header .right-top-navigation-container .dropdown .dropdown-menu .actions-container .sign-out-container a:hover,
header.nav-header .right-top-navigation-container .dropdown .dropdown-menu .actions-container .sign-out-container a:active {
  color: #ffa15e
}

header.nav-header .right-top-navigation-container .dropdown .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  position: absolute;
  top: -8px;
  right: 10px
}

header.nav-header .right-top-navigation-container .dropdown .dropdown-menu>li.divider {
  height: 1px;
  margin: 5px 0 4px;
  border: none;
  background: #ccc
}

header.nav-header .right-top-navigation-container .dropdown .dropdown-menu>li>a {
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #fff;
  white-space: nowrap;
  padding: 5px 20px 5px 10px
}

header.nav-header .right-top-navigation-container .dropdown .dropdown-menu>li>a i {
  margin-right: 9px;
  font-size: 14px
}

header.nav-header .right-top-navigation-container .dropdown .dropdown-menu>li:hover>a,
header.nav-header .right-top-navigation-container .dropdown .dropdown-menu>li:focus>a {
  background-color: #f96b26;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7e3f), to(#f14f00));
  background-image: -webkit-linear-gradient(top, #ff7e3f, #f14f00);
  background-image: linear-gradient(to bottom, #ff7e3f, #f14f00);
  background-repeat: repeat-x
}

header.nav-header .divider-hr {
  width: 100vw;
  color: #fff;
  margin-bottom: -20px
}

@media (max-width: 767px) {
  .nav-header .logo-container {
    margin-bottom: 10px
  }
  .nav-header .logo-container img {
    height: 28px;
    vertical-align: bottom
  }
  .nav-header .right-top-navigation-container .user-container .user-profile-dropdown {
    position: absolute;
    top: 0;
    right: 7px
  }
  .nav-header .right-top-navigation-container {
    float: left !important;
    width: 100%;
    text-align: center
  }
}

.nav-header .right-top-navigation-container .dropdown.search-dropdown input {
  display: none
}

.nav-header .right-top-navigation-container .dropdown.search-dropdown input.visible {
  height: 24px;
  width: 300px;
  margin-left: 17px;
  margin-right: 9px;
  background: #6e6e6e;
  display: inline-block;
  color: #fff
}

.nav-header .right-top-navigation-container .dropdown.search-dropdown>i {
  margin-right: 10px
}

.nav-header .right-top-navigation-container .dropdown li.profile img {
  width: 26px;
  height: 26px;
  max-width: none;
  border-radius: 2px;
  margin-right: 20px
}

.nav-header .header-row .menu-right-icon {
  vertical-align: middle;
  padding: 7px 0 0 10px;
  cursor: pointer
}

.nav-header .header-row .notifications {
  position: relative
}

.nav-header .header-row .notifications .notification-badge {
  position: absolute;
  left: 23px;
  top: 5px;
  min-width: 10px;
  padding: 3px 5px;
  font-size: 9px;
  font-weight: normal;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: red;
  border-radius: 10px
}

.nav-header .header-row .notifications ul.dropdown-menu {
  width: 375px
}

.nav-header .header-row .notifications ul.dropdown-menu li {
  background-color: #fff;
  border-bottom: 1px solid #dddfe2;
  overflow: hidden
}

.nav-header .header-row .notifications ul.dropdown-menu li .notification-parent {
  padding: 7px 10px
}

.nav-header .header-row .notifications ul.dropdown-menu li .notification-parent a.notification-anchor {
  color: #1d2129;
  display: block;
  position: relative;
  text-decoration: none
}

.nav-header .header-row .notifications ul.dropdown-menu li:hover,
.nav-header .header-row .notifications ul.dropdown-menu li:focus,
.nav-header .header-row .notifications ul.dropdown-menu li:active {
  background-image: -webkit-linear-gradient(rgba(29, 33, 41, 0.04), rgba(29, 33, 41, 0.04));
  background-image: linear-gradient(rgba(29, 33, 41, 0.04), rgba(29, 33, 41, 0.04))
}

.nav-header .header-row .notifications ul.dropdown-menu li:hover a,
.nav-header .header-row .notifications ul.dropdown-menu li:focus a,
.nav-header .header-row .notifications ul.dropdown-menu li:active a {
  text-decoration: none
}

.nav-header .header-row .notifications ul.dropdown-menu li.not-clicked {
  background-color: #f5f5f5
}

.left-navigation-container {
  width: 190px;
  background: #ffffff;
  vertical-align: top;
  padding: 0;
  height: calc(100vh - 43px - 20px);
  position: fixed;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(89, 88, 88, 0.25);
  overflow-y: auto
}

.left-navigation-container .studio_create_popup:hover,
.left-navigation-container .studio_create_popup:focus {
  color: #ffa15e
}

.left-collapse-button {
  display: block;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #e4e4e4;
  cursor: pointer;
  font-size: 15px;
  margin-top: 5px
}

.right-collapse-button {
  display: block;
  color: #e4e4e4;
  cursor: pointer;
  font-size: 15px;
  margin-top: 5px
}

.right-navigation-container {
  width: 190px;
  background: #ffffff;
  vertical-align: top;
  padding: 0;
  height: calc(100vh - 43px - 20px);
  position: fixed;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(89, 88, 88, 0.25);
  overflow-y: auto
}

.left-navigation-container .title {
  color: #595858;
  height: 40px;
  line-height: 41px;
  padding: 0 12px;
  margin: 0;
  text-shadow: none;
  letter-spacing: 1px;
  font-weight: 800
}

.right-navigation-container .title {
  color: #595858;
  height: 40px;
  line-height: 41px;
  padding: 0 12px;
  margin: 0;
  text-shadow: none;
  letter-spacing: 1px;
  font-weight: 800
}

@media (max-width: 767px) {
  body .left-navigation-container {
    width: 302px
  }
  body .right-navigation-container {
    width: 302px
  }
}

@media (min-width: 768px) and (max-width: 993px) {
  body .left-navigation-container {
    width: 330px
  }
  body .right-navigation-container {
    width: 330px
  }
}

@media (max-width: 993px) {
  .left-navigation-container {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    display: none;
    height: 100% !important;
    max-height: 100% !important;
    z-index: 100;
  }
  .right-navigation-container {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    display: none;
    height: 100% !important;
    max-height: 100% !important;
    z-index: 100;
  }
}

@media (max-width: 993px) and (min-width: 481px) {
  .left-navigation-container li.nav-item {
    padding: 8px 27px
  }
  .right-navigation-container li.nav-item {
    padding: 8px 27px
  }
  .left-navigation-container .title {
    padding: 10px 30px 10px 18px !important;
    line-height: 30px !important;
    height: auto !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -1px !important;
    font-size: 18px
  }
  .left-navigation-container li.nav-item>a>span {
    font-size: 15.5px
  }
  .right-navigation-container .title {
    padding: 10px 30px 10px 18px !important;
    line-height: 30px !important;
    height: auto !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -1px !important;
    font-size: 18px
  }
  .right-navigation-container li.nav-item>a>span {
    font-size: 15.5px
  }
}

.left-navigation-container ul.portal-navigation {
  list-style: none;
  margin: 0;
  padding: 0
}

.left-navigation-container li {
  list-style: none;
  line-height: 20px
}

.left-navigation-container li.nav-item {
  padding: 5px 15px;
  display: block;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent
}

.left-navigation-container li.nav-item>a {
  display: block;
  width: auto;
  color: #595858;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none
}

.left-navigation-container li.nav-item:hover>a,
.left-navigation-container li.nav-item:focus>a,
.left-navigation-container li.nav-item:hover>a>i,
.left-navigation-container li.nav-item:focus>a>i {
  color: #ffa15e;
  text-decoration: none
}

.left-navigation-container li.nav-item>a>i {
  width: 40px;
  color: #626262;
  font-size: 26px;
  vertical-align: middle;
  margin-right: 7px
}

.left-navigation-container li.nav-item>a>span {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%
}

.left-navigation-container li.nav-item.selected {
  position: relative;
  background: #6e6e6e;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.11)
}

.left-navigation-container li.nav-item.selected>a>span {
  font-weight: bold
}

.left-navigation-container li.nav-item.selected:after {
  background: #ff7e3f;
  border: 1px solid #aa3800;
  border-left: 0;
  box-shadow: inset -1px 0 2px rgba(255, 255, 255, 0.14);
  content: "";
  height: 34px;
  left: 0;
  top: -1px;
  position: absolute;
  width: 5px
}

.left-navigation-container .search-input-container .search-input {
  height: 28px;
  margin: 5px auto 10px 12px;
  width: calc(100% - 25px);
  display: block;
  font-size: 13px;
  background: #e4e4e4
}

.left-navigation-container .logo-container {
  padding: 10px 0;
  position: relative;
  display: none
}

.left-navigation-container .logo-container .icon-close-container {
  color: #6e6e6e;
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 5px
}

.right-navigation-container ul.portal-navigation {
  list-style: none;
  margin: 0;
  padding: 0
}

.right-navigation-container li {
  list-style: none;
  line-height: 20px
}

.right-navigation-container li.nav-item {
  padding: 5px 12px;
  display: block;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent
}

.right-navigation-container li.nav-item>a {
  display: block;
  width: auto;
  color: #595858;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none
}

.right-navigation-container li.nav-item:hover>a,
.right-navigation-container li.nav-item:focus>a,
.right-navigation-container li.nav-item:hover>a>i,
.right-navigation-container li.nav-item:focus>a>i {
  color: #ffa15e;
  text-decoration: none
}

.right-navigation-container li.nav-item>a>i {
  width: 40px;
  color: #626262;
  font-size: 26px
}

.right-navigation-container li.nav-item>a>span {
  font-size: 13px
}

.right-navigation-container li.nav-item.selected {
  position: relative;
  background: #6e6e6e;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.11)
}

.right-navigation-container li.nav-item.selected>a>span {
  font-weight: bold
}

.right-navigation-container li.nav-item.selected:after {
  background: #ff7e3f;
  border: 1px solid #aa3800;
  border-left: 0;
  box-shadow: inset -1px 0 2px rgba(255, 255, 255, 0.14);
  content: "";
  height: 34px;
  left: 0;
  top: -1px;
  position: absolute;
  width: 5px
}

.right-navigation-container .search-input-container .search-input {
  height: 28px;
  margin: 18px auto 10px 12px;
  width: 200px;
  display: block;
  font-size: 13px;
  background: #e4e4e4
}

.right-navigation-container .logo-container {
  padding: 10px 0;
  position: relative;
  display: none
}

.right-navigation-container .logo-container .icon-close-container {
  color: #6e6e6e;
  font-size: 35px;
  position: absolute;
  top: 0;
  right: 5px
}

@media screen and (max-width: 993px) {
  .left-navigation-container .logo-container {
    display: block
  }
  .right-navigation-container .logo-container {
    display: block
  }
}

@media screen and (min-width: 993px) {
  .left-navigation-container .logo-container {
    display: none
  }
  .left-navigation-container {
    display: block !important;
    left: 10px !important;
    margin-top: 10px
  }
  .right-navigation-container .logo-container {
    display: none
  }
  .right-navigation-container {
    display: block !important;
    right: 10px !important;
    margin-top: 10px
  }
}

.left-navigation-container .profile-container .image-div {
  width: 120px;
  height: 120px;
  display: block;
  margin: 10px auto 10px auto
}

.left-navigation-container .profile-container .image-div>img {
  width: 100%
}

.left-navigation-container .profile-container .text-div .name {
  display: block;
  color: #595858;
  font-size: 16px;
  font-weight: 800;
  width: 80%;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.left-navigation-container .profile-container .text-div .update-profile-button {
  display: block;
  font-size: 13px;
  width: 80%;
  margin: auto;
  color: #ffa15e;
  cursor: pointer
}

.left-right-navigation-divider {
  width: 95%;
  height: 1px;
  background: #e4e4e4;
  content: ' ';
  margin: auto auto 10px auto;
  display: block
}

.body-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #e4e4e4;
  position: relative
}

@media screen and (max-width: 768px) {
  .body-container {
    top: 49px
  }
  header.nav-header .right-top-navigation-container .user-container .dropdown:after {
    content: '';
    height: 70%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 8px;
    background-color: #666
  }
}

body {
  background-color: #e4e4e4 !important
}

.dashboard-content-header {
  position: fixed;
  background: #fff;
  height: 35px;
  box-shadow: 0px 0px 2px rgba(89, 88, 88, 0.25);
  border-radius: 2px
}

.dashboard-content-header>.links {
  height: 100%;
  padding: 10px
}

.dashboard-content-header>.links>ul {
  margin: 0
}

.dashboard-content-header>.links>ul>li>a.link {
  margin-right: 10px
}

.dashboard-content-header>.links>ul>li i {
  font-size: 18px;
  margin-right: 5px
}

.dashboard-content-header>.links a {
  text-decoration: none;
  color: #595858
}

.dashboard-content-header>.links>ul>li>a>i.plus {
  color: #ffa15e
}

.dashboard-content-header>.links>ul>li:hover>a.link,
.dashboard-content-header>.links>ul>li:focus>a.link,
.dashboard-content-header>.links>ul>li.active>a.link,
.dashboard-content-header>.links>ul>li.active>a.link {
  color: #ffa15e;
  position: relative
}

.dashboard-content-header>.links>ul>li:hover>a.link:after,
.dashboard-content-header>.links>ul>li:focus>a.link:after,
.dashboard-content-header>.links>ul>li.active>a.link:after,
.dashboard-content-header>.links>ul>li.active>a.link:after {
  content: ' ';
  height: 4px;
  background: #ffa15e;
  position: absolute;
  left: -5px;
  width: calc(100% + 6px);
  bottom: -7px
}

.dashboard-content-container {
  padding: 15px 25px;
  vertical-align: top;
  color: #595858;
  position: relative;
  width: 100%;
  background-color: #ffffff;
  overflow-y: auto;
  box-shadow: 0px 0px 3px rgba(89, 88, 88, 0.25);
  border-radius: 2px
}

.dashboard-content-container a {
  color: #595858;
  text-decoration: none
}

.dashboard-content-container>.feed-composer {
  background: #e4e4e4;
  height: 115px;
  width: 100%;
  border-radius: 1px;
  padding: 30px
}

.dashboard-content-container>.feed-composer .form-group {
  margin-bottom: 10px
}

.dashboard-content-container>.feed-composer ul.links a:hover,
.dashboard-content-container>.feed-composer ul.links a:focus {
  color: #595858;
  text-decoration: none
}

.dashboard-content-container>.feed-composer .share {
  background: #ffa15e;
  padding: 3px 17px
}

.dashboard-content-container>.feed-composer .share:hover,
.dashboard-content-container>.feed-composer .share:focus {
  color: #fff
}

.dashboard-content-container>.feeds-container {
  display: block;
  margin-top: 20px
}

.dashboard-content-container>.feeds-container .feed-container {
  margin-bottom: 45px
}

.dashboard-content-container .child_feeds_div .feed-container {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15)
}

.dashboard-content-container .child_feeds_div .feed-container:last-child {
  border-bottom: none
}

.dashboard-content-container>.feeds-container .feed-container .feed {
  background: #e4e4e4;
  min-height: 110px;
  height: auto;
  width: 100%;
  padding: 15px 15px 0 15px;
  display: table
}

.dashboard-content-container>.feeds-container .feed-container .feed>div:first-child {
  display: table-row
}

.dashboard-content-container>.feeds-container .feed-container .feed .image-div {
  margin-right: 15px
}

.dashboard-content-container>.feeds-container .feed-container .feed .image-div img {
  width: 40px
}

.dashboard-content-container>.feeds-container .feed-container .feed .name-time-div {
  position: relative;
  width: calc(100% - 70px);
  margin-bottom: 20px
}

.dashboard-content-container>.feeds-container .feed-container .feed .name-time-div>.user-name {
  color: #ffa15e;
  font-weight: 600
}

.dashboard-content-container>.feeds-container .feed-container .feed .name-time-div>.feed-time {
  font-size: 10px
}

.dashboard-content-container>.feeds-container .feed-container .feed .name-time-div:after {
  content: ' ';
  height: 2px;
  background: #ffffff;
  width: 100%;
  left: 0;
  bottom: -5px;
  position: absolute
}

.dashboard-content-container>.feeds-container .feed-container .feed .content {
  padding: 0 15px;
  width: 100%;
  display: table
}

.dashboard-content-container>.feeds-container .feed-container .feed .content>.user-name {
  color: #ffa15e;
  font-weight: 600;
  float: left;
  margin-right: 10px
}

.dashboard-content-container>.feeds-container .feed-container .feed .content>.text {
  float: left;
  width: 100%;
  min-height: 23px;
  height: auto;
  overflow-y: auto;
  padding: 0 2px 0 0;
  max-height: 100px;
  margin-bottom: 10px;
  display: table-row
}

.dashboard-content-container>.feeds-container .feed-container .feed .content>.text .tag {
  color: #ffa15e
}

.dashboard-content-container>.feeds-container .feed-container>.like-comment {
  float: right;
  width: 100%;
  background-color: #e4e4e4;
  border-radius: 0 0 2px 2px
}

.dashboard-content-container>.feeds-container .feed-container>.like-comment.has-comments {
  background-color: #595858
}

.dashboard-content-container>.feeds-container .feed-container .child_feeds_div {
  width: 100%
}

.dashboard-content-container>.feeds-container .feed-container>.like-comment>li {
  cursor: pointer;
  font-size: 18px;
  float: right;
  margin-right: 15px
}

.dashboard-content-container>.feeds-container .feed-container>.like-comment>li i {
  vertical-align: middle
}

.dashboard-content-container>.feeds-container .feed-container>.like-comment.has-comments .comment-button {
  color: #ffffff;
  margin-right: 5px
}

.dashboard-content-container>.feeds-container .feed-container>.like-comment.has-comments .like-button>i {
  color: #ffa15e
}

.dashboard-content-container>.feeds-container .feed-container>.like-comment span.count {
  font-size: 12px
}

.dashboard-content-container>.feeds-container .feed-container>.child-container {
  width: 100%;
  margin-top: 25px;
  margin-bottom: -25px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.15)
}

.dashboard-content-container>.feeds-container .feed-container>.child-container .reply-div {
  padding: 20px 20px 35px;
  background: #e4e4e4
}

.dashboard-content-container>.feeds-container .feed-container>.child-container button {
  background: #ffa15e;
  padding: 3px 17px;
  border-color: #ffa15e;
  float: right
}

.dashboard-content-container>.feeds-container .feed-container>.child-container .feed-container {
  margin-bottom: 0
}

.dashboard-content-container>.feeds-container .feed-container>.child-container .feeds-container {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15)
}

.dashboard-content-container>.feeds-container .feed-container>.child-container .feeds-container:last-child {
  border-bottom: none
}

@font-face {
  font-family: 'icons';
  src: url("/assets/core/fonts/icons-182734e22276c5707e6782e724f701c22025f7438800192fc372e42ccecfe6e2.eot?wwwpzy");
  src: url("/assets/core/fonts/icons-182734e22276c5707e6782e724f701c22025f7438800192fc372e42ccecfe6e2.eot?wwwpzy#iefix") format("embedded-opentype"), url("/assets/core/fonts/icons-5bb59d84c08a6f11441fa7bb3d64423029ce71e335ab6b91f374bf01b62285f5.ttf?wwwpzy") format("truetype"), url("/assets/core/fonts/icons-30984e9ca8ac9fe53306b616e0645f3120128d944e804458fb6816c54930c876.woff?wwwpzy") format("woff"), url("/assets/core/fonts/icons-68204af3f5519ccd68f3b4694259c94bae97c07e508f834014a2bad0f7c92ccd.svg?wwwpzy#icons") format("svg");
  font-weight: normal;
  font-style: normal
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

a {
  text-decoration: none
}

.text-uppercase {
  text-transform: uppercase !important
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0
}

.display-none {
  display: none
}

.display-block {
  display: block
}

.blk-sheet {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  max-width: inherit;
  top: 0;
  display: none;
  z-index: 99
}

@media screen and (min-width: 993px) {
  .blk-sheet {
    display: none !important
  }
}

.alert {
  position: fixed;
  z-index: 99999
}

.orange-color {
  color: #ffa15e !important
}

.flash-message {
  text-align: center;
  font-weight: 600;
  width: 100%;
  margin-left: auto;
  margin-right: auto
}

.flash-message li {
  list-style: none
}

::-webkit-scrollbar {
  width: 6px;
  display: block
}

::-webkit-scrollbar-track {
  border-radius: 4px
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  opacity: 0.8;
  background: #ffa15e
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #ffa15e;
  opacity: 0.4
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px;
  border-radius: 4px
}

.pagination a {
  display: inline-block;
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd
}

.pagination .current {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border: 1px solid #337ab7;
  display: inline-block;
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  text-decoration: none
}

.pagination .gap {
  display: inline-block;
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd
}

.pagination a.previous_page:after {
  content: ""
}

.pagination .previous_page.disabled,
.pagination .next_page.disabled {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  text-decoration: none
}

.page-header-block {
  margin: -15px -25px;
  padding: 15px 25px;
  background-color: #f7f7f7 !important;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.35);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 50px
}

.page-header-block .heading {
  color: #595858;
  font-size: 22px;
  font-weight: 500
}

.page-header-block .breadcrumb {
  margin-bottom: 0;
  padding: 5px 0
}

@media screen and (max-width: 768px) {
  .page-header-block .heading {
    font-size: 16px;
    float: left
  }
}

.advance-filter .filter-container {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  margin-bottom: 30px;
  margin-top: -20px
}

.advance-filter .filter-container .heading {
  background-color: #000;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  padding: 15px 10px;
  margin-top: 0px !important;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  margin: 0 -15px
}

.advance-filter .filter-container .heading i {
  float: right;
  padding: 3px 0px;
  font-weight: bold;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  margin-right: 10px
}

.advance-filter .filter-container .heading.selected i {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.advance-filter .filter-container .filter-body {
  display: none;
  margin: 20px 0
}

.advance-filter .filter-container .filter-body .col-sm-4 {
  margin-bottom: 5px
}

.advance-filter .filter-container .filter-body .filter-search-button {
  background-color: #ffa15e;
  border: none;
  padding: 5px 30px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  border-radius: 2px;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s
}

.advance-filter .filter-container .filter-body .filter-search-button:hover,
.advance-filter .filter-container .filter-body .filter-search-button:focus {
  background-color: #ff8833
}

.default-submit-btn {
  background-color: #ffa15e !important;
  border-color: #ff8833 !important;
  color: #ffffff !important
}

.default-submit-btn:hover,
.default-submit-btn:focus {
  background-color: #ff8833 !important;
  border-color: #ffa15e !important;
  color: #ffffff !important
}

.icon-asset:before {
  content: "\e900"
}

.icon-attachment:before {
  content: "\e901"
}

.icon-at-the-rate:before {
  content: "\e902"
}

.icon-calendar:before {
  content: "\e903"
}

.icon-chat:before {
  content: "\e904"
}

.icon-clock:before {
  content: "\e905"
}

.icon-collapse:before {
  content: "\e906"
}

.icon-edit:before {
  content: "\e907"
}

.icon-filter:before {
  content: "\e908"
}

.icon-follow:before {
  content: "\e909"
}

.icon-help:before {
  content: "\e90a"
}

.icon-join-studio:before {
  content: "\e90b"
}

.icon-link:before {
  content: "\e90c"
}

.icon-plus-plus:before {
  content: "\e90d"
}

.icon-reply:before {
  content: "\e90e"
}

.icon-search:before {
  content: "\e90f"
}

.icon-setting:before {
  content: "\e910"
}

.icon-stream:before {
  content: "\e911"
}

.icon-studio:before {
  content: "\e912"
}

.icon-task:before {
  content: "\e913"
}

.content {
  padding-top: 40px;
  padding-bottom: 40px
}

.reg-page {
  color: #595858;
  padding: 30px;
  background: #fefefe;
  border: solid 1px #eee;
  box-shadow: 0 0 3px #eee
}

.reg-header {
  color: #595858;
  text-align: center;
  margin-bottom: 35px;
  border-bottom: solid 1px #eee
}

.reg-page label {
  color: #777
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700
}

.color-red {
  color: #e74c3c
}

hr {
  margin: 30px 0
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee
}

hr {
  height: 0;
  box-sizing: content-box
}

.margin-bottom-20 {
  margin-bottom: 20px
}

.margin-bottom-30 {
  margin-bottom: 30px
}

.checkbox,
.radio {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px
}

.checkbox label,
.radio label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px
}

.btn-u {
  border: 0;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  padding: 6px 13px;
  position: relative;
  background: #72c02c;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none
}

.social-icons {
  margin: 0;
  padding: 0
}

.social-icons li {
  list-style: none;
  margin-right: 3px;
  margin-bottom: 5px;
  display: inline-block
}

.social-icons li a,
a.social-icon {
  width: 28px;
  height: 28px;
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}

.social-icons li:hover a {
  background-position: 0 -38px
}

.social-icons-color li a {
  opacity: 0.7;
  background-position: 0 -38px !important;
  -webkit-backface-visibility: hidden
}

.social_facebook {
  background: url("/assets/core/facebook-b2152d9384b190d2ef82447d2523ec0be08864ae25bcfad0a318948dbee686f3.png") no-repeat
}

.social_googleplus {
  background: url("/assets/core/googleplus-c459601509036d532351b0f35a7b4ef12e00995aed4aecef4b848a390123d1b1.png") no-repeat
}

.social_linkedin {
  background: url("/assets/core/linkedin-90bebdee2a71ef9dc592b68dc61ad312016b8d634c985d4ab86a34c30186793c.png") no-repeat
}

.social_twitter {
  background: url("/assets/core/twitter-79d0948d68f47cf0e88b6a1482e95206c702335581034bca65ac13b0fbd5f0d9.png") no-repeat
}

.rounded-x {
  border-radius: 50% !important
}

.reg-block-header p {
  text-align: center
}

.reg-block h2,
.reg-block p,
.reg-block p a {
  color: #777
}

p,
li,
li a,
label {
  color: #595858
}

p {
  margin: 0 0 10px
}

.reg-block p a {
  text-decoration: underline
}

.reg-block h2,
.reg-block p,
.reg-block p a {
  color: #777
}

.input_field_error {
  font-size: 10px;
  color: red
}

.email-instructions {
  font-size: 10px;
  color: #999999;
  margin-top: -18px
}

.state_story_parent {
  margin-top: 10px
}

.state_story_parent .states .state_parent_div {
  max-height: 90vh
}

@media screen and (min-width: 993px) {
  .state_story_parent .states .state_parent_div,
  .state_story_parent .add-new-list {
    width: 300px;
    padding-left: 7px;
    padding-right: 7px;
    min-height: 250px
  }
}

.list_boundary {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  overflow-y: auto;
  overflow-x: hidden
}

.state_story_parent .states .state_parent_div .list_boundary .state_heading {
  margin-bottom: 15px;
  cursor: pointer;
  text-transform: capitalize
}

.state_story_parent .states .state_parent_div .list_boundary .stories {
  width: 100%;
  padding-bottom: 10px
}

.state_story_parent .states .state_parent_div .list_boundary .stories .draggable .story_div {
  width: 90%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.95);
  padding: 7px;
  margin: auto auto 15px auto
}

.state_story_parent .states .state_parent_div .list_boundary .add_new_card_div textarea {
  width: 80%;
  color: #000
}

.state_story_parent .states .state_parent_div .list_boundary .add_new_card_div .cancel_button {
  display: none
}

.state_story_parent .states .state_parent_div .list_boundary .add_new_card_div .submit_button {
  display: none
}

.state_story_parent .add-new-list .add_new_list_div {
  margin-bottom: 15px
}

.add-new-list .new_list_form>div {
  width: 100%;
  margin-bottom: 20px
}

.state_story_parent .states .state_parent_div .list_boundary .add_new_card_form_div {
  width: 90%;
  margin: auto auto 20px auto;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.95);
  padding: 7px
}

.state_story_parent .states .state_parent_div .list_boundary .add_new_card_form_div .add_new_card_form {
  display: none
}

.state_story_parent .states .state_parent_div .list_boundary .add_new_card_form_div h5 {
  text-align: center
}

.state_story_parent .states .state_parent_div .list_boundary .add_new_card_form_div .add_new_card_trigger_button {
  cursor: pointer;
  font-weight: 600
}

.kanban-modal .modal-dialog {
  color: #000;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden
}

.kanban-modal .comments-section .create-comment {
  margin-bottom: 10px
}

@media screen and (max-width: 993px) {
  .kanban-modal .comments-section {
    margin-top: 30px
  }
}

.tilt {
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg)
}

.mce-branding-powered-by {
  display: none
}

.ui-helper-hidden-accessible {
  display: none
}

li.project-management.comment {
  margin-bottom: 20px
}

li.project-management.comment .comment-content .user-name-div {
  border: 1px solid #3c3c3c;
  margin-right: 10px;
  padding: 0 5px;
  display: inline-block
}

li.project-management.comment .comment-content .comment-content {
  display: inline-block
}

.project-management.comment-form .comment-field {
  width: 100%;
  min-height: 60px
}

.project-management.comment-form .comment-btn {
  display: none
}

li.project-management.comment ul.replies {
  margin: 10px 0
}

.kanban-modal .heading>h5 {
  font-weight: 700
}

.kanban-modal .modal-title {
  font-weight: 600;
  text-transform: capitalize
}

.studio-admin-container .studio-admin-nav-bar {
  height: 40px;
  width: 100%;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  line-height: 40px;
  margin-top: -30px;
  margin-bottom: 10px
}

.studio-admin-container .studio-admin-nav-bar ul.nav.nav-tabs>li>a {
  border: none;
  color: #595858
}

.studio-admin-container .studio-admin-nav-bar ul.nav.nav-tabs>li>a:hover,
.studio-admin-container .studio-admin-nav-bar ul.nav.nav-tabs>li>a:focus {
  color: #595858
}

.studio-admin-container .studio-admin-nav-bar ul.nav.nav-tabs>li.active {
  background-color: #ffa15e
}

.studio-admin-container .studio-admin-nav-bar ul.nav.nav-tabs>li.active>a:hover,
.studio-admin-container .studio-admin-nav-bar ul.nav.nav-tabs>li.active>a:focus {
  background-color: #ffa15e
}

.studio-admin-container .studio-admin-nav-bar ul.nav.nav-tabs>li.active>a {
  background-color: #ffa15e;
  border: none;
  color: #ffffff
}

.studio-assets-list {
  margin-bottom: 20px
}

.studio-assets-list .table-responsive::-webkit-scrollbar {
  width: 6px;
  display: block;
  height: 2px
}

.studio-assets-list table {
  border: 1px solid #e4e4e4 !important;
  margin-bottom: 125px !important
}

.studio-assets-list table thead th.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.studio-assets-list table thead th.action>div {
  margin-top: 5px
}

.studio-assets-list table thead th.action .fa {
  cursor: pointer;
  position: relative
}

.studio-assets-list table thead th.action .fa:hover,
.studio-assets-list table thead th.action .fa:focus {
  color: #1a1919
}

.studio-assets-list table thead th,
.studio-assets-list table thead td {
  font-weight: 400;
  color: #595858;
  min-width: 150px;
  background-color: inherit;
  border: 1px solid #e4e4e4 !important;
  padding: 15px !important
}

.studio-assets-list table thead th:first-child,
.studio-assets-list table thead td:first-child {
  min-width: 0
}

.studio-assets-list table thead th.version,
.studio-assets-list table thead td.version {
  min-width: 0
}

.studio-assets-list table tr {
  border: 1px solid #e4e4e4 !important
}

.studio-assets-list table tr td {
  vertical-align: middle !important;
  text-space: nowrap;
  padding: 15px !important
}

.studio-assets-list table .dropdown {
  display: inline-block;
  cursor: pointer;
  margin-right: 7px
}

.studio-assets-list table .dropdown .dropdown-toggle {
  color: #595858
}

.studio-assets-list table .dropdown .dropdown-toggle:focus,
.studio-assets-list table .dropdown .dropdown-toggle:hover,
.studio-assets-list table .dropdown button:active:hover {
  color: #1a1919
}

.studio-assets-list table .dropdown.open .dropdown-toggle:after {
  position: absolute;
  content: '\f0d7 ';
  color: #1a1919;
  top: 18px;
  left: 4px
}

.studio-assets-list table .dropdown-menu {
  left: auto !important;
  right: 0 !important;
  margin: 10px -50px 0 0 !important
}

.studio-assets-list table .file_extension {
  text-decoration: underline;
  color: #ffa15e
}

.studio-asset-upload-page form {
  border: 1px solid #e4e4e4;
  padding: 15px 30px 30px 30px
}

.studio-asset-upload-page form .heading {
  text-align: center;
  margin-bottom: 50px
}

.studio-asset-upload-page form .heading h2 {
  font-size: 24px;
  color: #595858;
  font-weight: 600;
  position: relative
}

.studio-asset-upload-page form .heading h2:after {
  position: absolute;
  top: 40px;
  height: 2px;
  content: '';
  width: 125px;
  background-color: #ffa15e;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}

.studio-asset-upload-page form .form-group {
  margin-bottom: 30px !important
}

.studio-asset-upload-page form .form-group button {
  text-transform: uppercase;
  font-size: 18px;
  background-color: #ffa15e;
  border-color: #ff8833
}

.studio-asset-upload-page form .form-group button:hover,
.studio-asset-upload-page form .form-group button:focus {
  background-color: #ff8833;
  border-color: #ffa15e;
  outline: none
}

.studio-asset-upload-page form .form-group .input_field_error {
  margin-top: 5px;
  padding-left: 2px
}

.studio-asset-upload-page form .form-group:last-child {
  margin-bottom: 15px !important
}

.script-editor .page-header-block {
  margin-bottom: 25px !important
}

.script-editor .buttons {
  position: fixed;
  bottom: 0;
  width: calc(100vw - 44px);
  height: 50px;
  border-radius: 0;
  left: 10px;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row
}

.script-editor .cancel-script {
  width: 250px;
  font-size: 18px
}

.script-editor .submit-script {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 18px;
  background-color: #ffa15e;
  border-color: #ff8833
}

.script-editor .submit-script:hover,
.script-editor .submit-script:focus {
  background-color: #ff8833;
  border-color: #ffa15e
}

.script-editor form {
  margin-bottom: 50px
}

.studio-dashboard-details .dashboard_chart_container {
  margin-top: -30px;
  margin-bottom: 20px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.35)
}

.studio-dashboard-details .dashboard_chart_container .dashboard-heading {
  color: #595858;
  font-size: 16px;
  padding: 5px 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.35)
}

.studio-dashboard-details .dashboard_chart_container .chart_parent {
  padding-top: 10px
}

.studio-dashboard-details .dashboard_chart_container .chart_parent {
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.15)
}

.studio-dashboard-details .dashboard_chart_container .chart_parent:last-child {
  box-shadow: none
}

.studio_create_modal .modal-dialog {
  margin-top: 51px
}

.studio_create_modal .modal-dialog .logo-info {
  color: #595858;
  font-size: 10px;
  margin-top: 3px
}

@media screen and (max-width: 768px) {
  .studio_create_modal .modal-dialog {
    margin-top: 90px
  }
}

.studio_create_modal .modal-header .modal-title {
  font-weight: bold;
  font-size: 25px;
  color: #595858
}

.studio_create_modal .modal-header .close {
  font-size: 45px;
  color: #595858;
  opacity: 1;
  font-weight: 500
}

.studio_create_modal .modal-body {
  padding-top: 0;
  min-height: 200px;
  height: auto
}

.studio_create_modal .modal-header {
  position: relative;
  border-bottom: none
}

.studio_create_modal .modal-header:after {
  position: absolute;
  content: ' ';
  height: 2px;
  left: 10px;
  bottom: 6px;
  display: block;
  width: calc(100% - 20px);
  background-color: #595858
}

.studio_create_modal .modal-footer {
  border-top: none
}

.studio_create_modal form {
  margin-top: 20px
}

.studio_create_modal .modal-form-group {
  width: 100%;
  position: relative;
  margin-bottom: 30px
}

.studio_create_modal .control-label {
  font-size: 15px;
  font-weight: 500;
  text-align: left !important;
  margin-bottom: 10px;
  color: #595858
}

.studio_create_modal .form-control {
  border-radius: 2px;
  border-color: #595858
}

.studio_create_modal .form-control:focus {
  border-color: #595858;
  box-shadow: none
}

.studio_create_modal .radio-inline {
  color: #595858;
  font-size: 15px;
  margin-right: 25px;
  padding-left: 2px;
  padding-top: 7px;
  margin-left: 0 !important
}

@media screen and (max-width: 768px) {
  .studio_create_modal .radio-inline {
    padding-top: 0 !important;
    margin-bottom: 10px !important
  }
  .studio_create_modal .form-group {
    margin-bottom: 25px !important
  }
}

.studio_create_modal .radio-inline>.fa {
  font-size: 25px;
  margin-right: 5px;
  vertical-align: bottom
}

.studio_create_modal .radio-inline.selected>.fa {
  color: #ffa15e
}

.studio_create_modal .radio-inline>input[type="radio"] {
  margin-left: -9999999px
}

.studio_create_modal button.create_studio {
  background-color: #ffa15e;
  border: none;
  padding: 5px 30px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 2px
}

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete {
  z-index: 99999 !important;
  background: #fff !important;
  width: 267px !important;
  border: 1px solid !important;
  margin-top: 10px !important;
  border-radius: 2px;
  padding: 10px 10px 10px 20px;
  list-style: decimal !important
}

.ui-menu-item {
  padding: 5px 5px 5px 7px
}

.ui-menu-item:hover,
.ui-menu-item:focus {
  border: 1px solid #aaaaaa;
  font-weight: normal;
  color: #212121
}

.user-join-studio-container .list-of-studios {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  max-width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.user-join-studio-container .list-of-studios .studio-component {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  width: 45%;
  height: 200px;
  margin: 10px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.user-join-studio-container .list-of-studios .studio-component .name-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.user-join-studio-container .list-of-studios .studio-component .name-logo .studio-logo {
  margin-right: 5px
}

.user-join-studio-container .list-of-studios .studio-component .name-logo .studio-logo>img {
  width: 100px;
  height: 100px
}

.user-join-studio-container .list-of-studios .studio-component .name-logo .right-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start
}

.user-join-studio-container .list-of-studios .studio-component .studio-name {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: #595858;
  font-weight: 600;
  margin-top: 2px
}

.user-join-studio-container .list-of-studios .studio-component .studio-description {
  max-height: 100px;
  overflow-y: auto;
  margin-top: 7px
}

.user-join-studio-container .list-of-studios .studio-component .cta {
  margin-bottom: 7px;
  width: 60px;
  background-color: #ffa15e;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  height: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1px
}

.user-join-studio-container .list-of-studios .studio-component .cta:hover,
.user-join-studio-container .list-of-studios .studio-component .cta:focus {
  background-color: #ff8833
}

.user-join-studio-container .list-of-studios .studio-component .cta.pending {
  border: 1px solid #585858;
  width: 80px;
  border-radius: 3px;
  background-color: transparent;
  color: #585858
}

.user-join-studio-container .list-of-studios .studio-component .cta.pending,
.user-join-studio-container .list-of-studios .studio-component .cta.rejected {
  border: 1px solid #585858;
  width: 95px;
  border-radius: 3px;
  background-color: transparent;
  color: #585858;
  cursor: not-allowed
}
