@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  display: grid;
  place-content: center;
  font-family: 'Red Hat Text';
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Red Hat Display';
}
