name: Test & Build Gamedoora-UI

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 16.x
      env:
        NODE_ENV: development
      uses: actions/setup-node@v2
      with:
        node-version: 16.x
    - run: npm install
    - run: npm run lint
    - run: npm run build:dev
    - run: npm run build
    - run: npm run test:uni
    